.App {
  text-align: center;
}

li {
  list-style: none;
}
ul {
  margin:0;
  padding:0;
}

.nodisplay {
  display:none;
}
/*=====Persistent static navbar=====*/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  color:white;
}

header a {
  text-decoration: none;
  color: white;
}

header span {
  cursor: pointer;
}
footer {
  background-color: black;
  color:white;
  padding: 10px;
}
.header-dropdown {
  position: absolute;
  color:black;
  left:85%;
  top:7%;
  border:1px solid black;
  background-color: white;
}
.header-dropdown li {
  padding: 10px 20px;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.header-dropdown li:hover {
  background-color: black;
  color:white;
}
/*==============================*/

/*======Hero image==============*/
.hero {
  padding: 15vw;
  background-color: grey;
}
.hero div {
  padding: 15px;
  background-color: white;
}
/*==============================*/

/*==========Form ==============*/
.loginform {
  display: flex;
  flex-direction: column;
  padding: 0 350px;
}
.UserDetails form {
  display: flex;
  flex-direction: column;
  padding: 0 350px;
}
.biz-form form {
  display: flex;
  flex-direction: column;
  padding: 0 350px;
}

form input {
  margin-bottom: 15px;
  border:none;
  font-family: inherit;
  font-size: inherit;
  padding:3px;
  border-bottom: 1px solid black;
}

input[type='submit'] {
  border:none;
  background-color: whitesmoke;
  color: black;
  transition-duration: 0.4s;
  cursor: pointer;
}
input[type='submit']:hover {
  background-color: #4CAF50;
  color: whitesmoke;
}

/* input[type='submit'], .search-form-button {
  border:none;
  background-color: #7dff7d;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  padding: 3px;
  margin: 0 3px;
  vertical-align: top;
  font-family: inherit; */

label {
  text-align: left;
}
#switch-login {
  display: inline-block;
  cursor: pointer;
  color: #677eff;
}
/*==============================*/

/*=======User Info==============*/

.user-info {
  text-align: left;
  margin: 20px 40%;
  background-color: #b3b3b3;
  padding:20px;
  border-radius: 3px;
}

.user-info h1 {
  margin:0;
}
/*==============================*/

.business-left {
  text-align: left;
  margin-left: 100px;
}

.biz-info {
  display: inline-block;
  padding: 25px;
  background-color: #cecece;
  margin-top: 50px;
}

.business-right {
  text-align: left;
  margin:20px;
  background-color: grey;
  display: inline-block;
  border-radius: 3px;
}

.search-form {
  color: white;
  padding:20px;
}

.search-form label {
  text-align: left;
  border: 1px solid black;
  padding: 3px;
  margin: 5px;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  color: black;
}

/*==========Search Results=======*/
.search-results {
  max-height: 300px;
  overflow-y: scroll;
  background-color: #cacaca;

}

.search-results li {
  padding: 5px;
  background-color: #ffdb76;
  margin:5px;
  border: 1px solid black;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #ffe7a3;
}
.search-errorfield {
  margin:10px;
  padding: 5px;
  background-color: #ffa7a7;
  border:1px solid red;
  border-radius: 3px;
}
/*==============================*/

/*==========Overscroll Fix=======*/
body {
  height: 100%;
  overflow: hidden;
  /* font-family: 'Lobster', cursive; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
/*==============================*/

/*=========Focus Groups=========*/
.focus-group {
  margin: 10px;
  background-color: grey;
  display: inline-block;
}

.focus-group li {
  background-color: white;
  border:1px solid black;
  margin-bottom: 3px;
  padding:3px;
}

.focus-group ul {
  margin: 10px;
}

.focus-group-title {
  background-color: yellow;
}
/*==============================*/


