.App {
  text-align: center;
}

li {
  list-style: none;
}
ul {
  margin:0;
  padding:0;
}
/*=====Persistent static navbar=====*/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  color:white;
}

header a {
  text-decoration: none;
  color: white;
}

header span {
  cursor: pointer;
}
footer {
  background-color: black;
  color:white;
  padding: 10px;
}
.header-dropdown {
  position: absolute;
  color:black;
  left:85%;
  top:7%;
  border:1px solid black;
  background-color: white;
}
.header-dropdown li {
  padding: 10px 20px;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.header-dropdown li:hover {
  background-color: black;
  color:white;
}
/*==============================*/

/*======Hero image==============*/
.hero {
  padding: 15vw;
  background-color: grey;
}
.hero div {
  padding: 15px;
  background-color: white;
}
/*==============================*/

.nodisplay {
  display:none;
}
