.App {
  text-align: center;
}

li {
  list-style: none;
}
ul {
  margin:0;
  padding:0;
}

.nodisplay {
  display:none;
}
/*=====Persistent static navbar=====*/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  color:white;
}

header a {
  text-decoration: none;
  color: white;
}

header span {
  cursor: pointer;
}
footer {
  background-color: black;
  color:white;
  padding: 10px;
}
.header-dropdown {
  position: absolute;
  color:black;
  left:85%;
  top:7%;
  border:1px solid black;
  background-color: white;
}
.header-dropdown li {
  padding: 10px 20px;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.header-dropdown li:hover {
  background-color: black;
  color:white;
}
/*==============================*/

/*======Hero image==============*/
.hero {
  padding: 15vw;
  background-color: grey;
}
.hero div {
  padding: 15px;
  background-color: white;
}
/*==============================*/

/*==========Form ==============*/
form {
  display: flex;
  flex-direction: column;
  padding: 0 350px;
}

form input {
  margin-bottom: 15px;
  border:none;
  font-family: inherit;
  font-size: inherit;
  padding:3px;
  border-bottom: 1px solid black;
}

input[type='submit'] {
  border:none;
  background-color: whitesmoke;
  color: black;
  transition-duration: 0.4s;
  cursor: pointer;
}
input[type='submit']:hover {
  background-color: #4CAF50;
  color: whitesmoke;
}

label {
  text-align: left;
}
#switch-login {
  display: inline-block;
  cursor: pointer;
  color: #677eff;
}
/*==============================*/

